<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dicere - Entrar</title>
</head>
<body>  

        <span>Entrar</span>
        <form action="/sessao" method="POST">

            <input type="text" name="name" placeholder="digite o usuario ou email">

            <input type="password" name="password" placeholder="digite a senha">

            <button type="submit">Entrar</button>
        </form>

        <span>não tenho uma conta. <a href="/cadastrar">cadastrar</a></span>


</body>
</html>