<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dicere - Cadastrar</title>
</head>
<body>  

        <span>Cadastrar</span>
        <form action="/criar" method="POST">

            <input type="text" name="name" placeholder="digite o seu nome de usuario">

            <input type="email" name="email" placeholder="digite o seu email">

            <input type="password" name="password" placeholder="digite sua a senha">

            <button type="submit">Cadastrar</button>
        </form>

        <span>ja tenho uma conta. <a href="/entrar">entrar</a></span>


</body>
</html>